In [39]:
## Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

In [40]:
## Exercise 3: Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

In [41]:
## Exercise 10: Insert a markdown cell to list Objectives

**Objectives:**

* List popular languages for Data Science;
* List popular Data Science libraries;
* List popular Data Science tools;
* Introduction to some arithmetic expression examples.

In [42]:
## Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:
1. Julia
2. Python
3. R

In [43]:
## Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. NumPy
3. SciPy

In [44]:
## Exercise 6 - Create a markdown cell with a table of Data Science tools

|Data Science Tools|
|:-:|
|Apache Spark|
|Tableau|
|EXCEL|

In [45]:
## Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python.

In [46]:
## Exercise 8 - Create a code cell to multiply and add numbers

In [47]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [48]:
## Exercise 9 - Create a code cell to convert minutes to hours

In [49]:
# This will convert 200 minutes to hours by diving by 60

x=200/60

xr = round(x, 3)  
print(xr,"hours")

3.333 hours

In [50]:
## Exercise 11 - Create a markdown cell to indicate the Author's name

## Author
Andr√© Teixeira